In [ ]:
import sys
sys.path.append("..") # append the directory above where the databese is.
import pandas as pd
import numpy as np
import sqlite3
import time
import numba
%load_ext line_profiler
### disable scientific notation in pandas
pd.set_option('display.float_format', '{:.2f}'.format) ### display up to 2 decimal pts

In [ ]:
connection = sqlite3.connect("../db.sqlite3")
cursor = connection.cursor() 
cursor.execute("SELECT * FROM CountryIndicators")  
country_list = cursor.fetchall() # we get the 
np.shape(country_list)
print(country_list[:3]) # okay it has the same format as the table where the rows are tuples in this list

In [ ]:
df = pd.DataFrame(country_list, columns=["CountryCode", "IndicatorCode", "Year", "Value" ])
df

In [ ]:
df[(df["IndicatorCode"] == "MS.MIL.XPRT.KD") & (df["Year"] == 2000) & df["CountryCode"] == "ARB"]

In [ ]:
df_ARB = df[df["CountryCode"] == "ARB"]
print(df_ARB["IndicatorCode"].nunique())
df_one_ind = df_ARB[df["IndicatorCode"] == "SP.ADO.TFRT"][["Year", "Value"]]
df_one_ind = df_one_ind.rename(columns={"Value":"indicator"})

df_another_ind = df_ARB[df["IndicatorCode"] == "MS.MIL.XPRT.KD"][["Year", "Value"]]
df_another_ind = df_another_ind.rename(columns={"Value": "another_indicator"})
pd.merge_ordered(df_one_ind, df_another_ind, left_by="Year", fill_method="ffill")
df[(df["CountryCode"] == "ARB") & (df["IndicatorCode"] == "SP.ADO.TFRT")][["Year", "Value"]].rename(columns={"Value":"SP.ADO.TFRT"})

In [ ]:
df_year = pd.DataFrame({"Year": df["Year"].unique()})
df_year

In [ ]:
df[df["CountryCode"] == "ARB"]["IndicatorCode"].nunique()

In [68]:
def create_final_df(df):
    dfs = []
    years = df["Year"].unique()
    for country in df["CountryCode"]:
        df_final = pd.DataFrame({"Year": years})
        df_country = df[df["CountryCode"] == country]
        for indicator in df_country["IndicatorCode"].unique():
            df_tmp = df_country[df_country["IndicatorCode"] == indicator][["CountryCode","Year", "Value"]]
            df_final = pd.merge_ordered(df_final, df_tmp.rename(columns={"Value": indicator}), fill_method="ffill")
        dfs.append(df_final)
        break
        pd.concat(dfs)
    return df_final

In [69]:
%lprun -f create_final_df df_final = create_final_df(df)

Timer unit: 1e-06 s

Total time: 94.867 s
File: <ipython-input-68-a9b5f19b62e8>
Function: create_final_df at line 1

Line #      Hits         Time  Per Hit   % Time  Line Contents
==============================================================
     1                                           def create_final_df(df):
     2         1          3.0      3.0      0.0      dfs = []
     3         1      57442.0  57442.0      0.1      years = df["Year"].unique()
     4         1        117.0    117.0      0.0      for country in df["CountryCode"]:
     5         1       2515.0   2515.0      0.0          df_final = pd.DataFrame({"Year": years})
     6         1     357486.0 357486.0      0.4          df_country = df[df["CountryCode"] == country]
     7       630       4156.0      6.6      0.0          for indicator in df_country["IndicatorCode"].unique():
     8       629    2790463.0   4436.3      2.9              df_tmp = df_country[df_country["IndicatorCode"] == indicator][["CountryCode","Year", "Value"]]
     9       629   91654823.0 145715.1     96.6              df_final = pd.merge_ordered(df_final, df_tmp.rename(columns={"Value": indicator}), fill_method="ffill")
    10         1          2.0      2.0      0.0          dfs.append(df_final)
    11         1          1.0      1.0      0.0          break
    12                                                   pd.concat(dfs)
    13         1          1.0      1.0      0.0      return df_final

In [70]:
df_final

,Year,CountryCode,SP.ADO.TFRT,SP.POP.DPND,SP.POP.DPND.OL,SP.POP.DPND.YG,MS.MIL.XPRT.KD,MS.MIL.MPRT.KD,SP.DYN.CBRT.IN,EN.ATM.CO2E.KT,...,SL.UEM.1524.NE.ZS,FB.BNK.CAPA.ZS,FB.CBK.DPTR.P3,IC.BUS.DFRN.XQ,DT.NFL.UNPB.CD,IC.ELC.TIME,SL.UEM.1524.FE.NE.ZS,SL.UEM.1524.MA.NE.ZS,EG.NSF.ACCS.RU.ZS,EG.NSF.ACCS.UR.ZS
0,1960,ARB,133.56,87.80,6.63,81.02,3000000.00,538000000.00,47.70,59563.99,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
1,1961,ARB,134.16,89.22,6.75,82.32,0.00,578000000.00,47.46,65151.10,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
2,1962,ARB,134.86,90.50,6.84,83.46,9000000.00,1414000000.00,47.20,74357.71,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
3,1963,ARB,134.50,91.60,6.92,84.41,8000000.00,1283000000.00,46.92,87895.98,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
4,1964,ARB,134.10,92.42,6.97,85.10,2000000.00,1546000000.00,46.61,103196.28,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
5,1965,ARB,133.57,92.87,7.00,85.47,2000000.00,1945000000.00,46.27,123828.20,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
6,1966,ARB,132.68,93.73,7.07,86.25,13000000.00,3484000000.00,45.89,139079.15,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
7,1967,ARB,131.67,94.10,7.11,86.59,9000000.00,4753000000.00,45.48,149730.96,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
8,1968,ARB,129.20,94.12,7.12,86.63,35000000.00,3455000000.00,45.05,178805.04,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
9,1969,ARB,126.75,93.96,7.13,86.50,21000000.00,3860000000.00,44.61,213131.61,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
10,1970,ARB,124.40,93.71,7.12,86.25,51000000.00,4306000000.00,44.18,220575.40,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
11,1971,ARB,122.16,93.92,7.16,86.42,36000000.00,3850000000.00,43.77,250915.80,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
12,1972,ARB,120.04,93.90,7.19,86.35,2000000.00,6576000000.00,43.40,272872.77,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
13,1973,ARB,118.11,93.71,7.20,86.12,22000000.00,9241000000.00,43.08,318599.94,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
14,1974,ARB,116.16,93.42,7.18,85.79,19000000.00,9044000000.00,42.81,310921.24,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
15,1975,ARB,114.13,93.08,7.15,85.44,100000000.00,6296000000.00,42.57,307786.63,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
16,1976,ARB,112.01,92.92,7.14,85.25,5000000.00,5693000000.00,42.38,373496.03,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
17,1977,ARB,109.81,92.71,7.10,85.03,105000000.00,9620000000.00,42.19,395284.15,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
18,1978,ARB,106.05,92.45,7.06,84.79,94000000.00,11599000000.00,41.99,425910.86,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
19,1979,ARB,102.36,92.12,7.00,84.48,411000000.00,11401000000.00,41.76,456159.50,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
20,1980,ARB,98.75,91.68,6.95,84.07,182000000.00,11933000000.00,41.48,508779.87,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
21,1981,ARB,95.26,91.48,6.93,83.87,217000000.00,13314000000.00,41.14,497496.74,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
22,1982,ARB,91.81,91.11,6.90,83.52,426000000.00,16370000000.00,40.73,476949.25,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
23,1983,ARB,88.01,90.62,6.87,83.06,220000000.00,13904000000.00,40.26,508651.41,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
24,1984,ARB,84.22,90.08,6.83,82.55,99000000.00,12381000000.00,39.73,554903.46,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
25,1985,ARB,80.37,89.51,6.80,82.02,77000000.00,10781000000.00,39.11,587093.79,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
26,1986,ARB,76.45,89.31,6.81,81.81,136000000.00,10119000000.00,38.41,648475.67,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
27,1987,ARB,72.53,89.02,6.82,81.50,76000000.00,10069000000.00,37.65,649749.34,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
28,1988,ARB,71.18,88.65,6.83,81.11,317000000.00,5510000000.00,36.83,688649.36,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
29,1989,ARB,69.90,88.18,6.85,80.60,106000000.00,5687000000.00,35.98,699737.96,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
30,1990,ARB,69.02,87.69,6.85,80.09,58000000.00,6512000000.00,35.14,711039.45,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
31,1991,ARB,67.76,86.95,6.90,79.28,1000000.00,4490000000.00,34.30,749355.86,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
32,1992,ARB,66.93,86.29,6.99,78.58,53000000.00,3728000000.00,33.61,809684.30,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
33,1993,ARB,64.95,85.15,7.02,77.37,116000000.00,5259000000.00,32.76,886394.21,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
34,1994,ARB,62.93,83.82,7.05,75.98,82000000.00,4127000000.00,31.92,914334.10,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
35,1995,ARB,60.72,82.12,7.04,74.21,37000000.00,4728000000.00,31.05,876887.60,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
36,1996,ARB,58.60,80.61,7.06,72.62,12000000.00,5348000000.00,30.35,869025.28,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
37,1997,ARB,56.45,79.06,7.06,71.01,46000000.00,6116000000.00,29.72,836526.21,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
38,1998,ARB,55.54,77.48,7.06,69.38,109000000.00,4937000000.00,29.16,906453.80,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
39,1999,ARB,54.66,75.89,7.06,67.75,9000000.00,3477000000.00,28.66,920061.43,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
40,2000,ARB,53.83,74.29,7.04,66.12,9000000.00,2773000000.00,28.28,1045912.74,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
41,2001,ARB,52.90,72.80,7.02,64.57,2000000.00,2171000000.00,27.96,1029730.27,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
42,2002,ARB,51.98,71.29,7.00,63.00,66000000.00,2964000000.00,27.70,1050712.84,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
43,2003,ARB,51.52,69.80,6.96,61.46,16000000.00,2409000000.00,27.51,1138783.18,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
44,2004,ARB,51.10,68.37,6.92,60.00,158000000.00,4108000000.00,27.34,1254917.07,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
45,2005,ARB,50.73,67.03,6.87,58.66,158000000.00,4454000000.00,27.22,1318865.89,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
46,2006,ARB,50.33,65.79,6.82,57.36,158000000.00,4248000000.00,27.14,1375301.02,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
47,2007,ARB,50.01,64.63,6.77,56.17,158000000.00,3264000000.00,27.11,1374211.92,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
48,2008,ARB,49.90,63.60,6.71,55.12,158000000.00,4125000000.00,27.07,1472417.84,...,24.14,nan,nan,nan,nan,nan,nan,nan,nan,nan
49,2009,ARB,49.80,62.73,6.67,54.25,158000000.00,3982000000.00,27.08,1577099.69,...,23.10,9.66,595.20,57.12,60000.00,77.45,42.39,17.34,nan,nan
50,2010,ARB,49.70,62.05,6.65,53.57,158000000.00,5059000000.00,27.09,1680300.07,...,23.10,11.65,622.08,57.30,5090000.00,77.45,42.39,17.34,74.55,94.54

In [ ]:

df_ARB[df_ARB["IndicatorCode"] == "AG.AGR.TRAC.NO"]
#for indicator in df_ARB["IndicatorCode"]:
    #print(indicator)

In [ ]:
#def uniques(df, indicator):
    #""" returns true or false if the indicator is in every year"""
    #indicator_range = np.array(df[df["IndicatorCode"] == indicator]["Year"])
    #year_range = np.array(range(df["Year"].min(), df["Year"].max() + 1))
    #if len(year_range) != len(indicator_range):
     #   return False
    #return True
def create_total_df(df):
    df_final = pd.DataFrame(df["Year"])
   # print(df_final)
    #print(df["IndicatorCode"].nunique())
    for indicator in df["IndicatorCode"].unique():
        #print(f"{indicator}")
        #if uniques(df, indicator):
        df_tmp = df[df["IndicatorCode"] == indicator][["Year", "Value"]]
        df_tmp = df_tmp.rename(columns={"Value":indicator})
        df_final = pd.merge(df_final, df_tmp, "Year", how="outer")
        print(indicator)
    return df_final

#df_s = []
%lprun -f create_total_df create_total_df(df_ARB[df_ARB["Year"] == 2010])
#ncountrys = df["CountryCode"].nunique()
#count = 0
#for country in df["CountryCode"].unique():
 #   s = time.time()
  #  df_s.append(create_total_df(df[df["CountryCode"] == country]))
   # count += 1
    #print(country)
    #print(f"ETA: {(time.time() - s) *(ncountrys - 1)/60} min")

In [ ]:
def create_country_df(df_country):
    country_dict = {indicator:[] for indicator in df_country["IndicatorCode"].unique()}
    country_dict["Year"] = list(df_country["Year"].unique())
    for year in df_country["Year"].unique():
        for indicator in df_country["IndicatorCode"].unique():
            # this will output the indicator value for a given year
            df_tmp = df_country[(df_country["IndicatorCode"] == indicator) & (df_country["Year"] == year)]["Value"] 
            # if there is no indicator value for that year, then we add NA                              
            if df_tmp.empty:
                country_dict[indicator].append("NA")
            else:
                country_dict[indicator].append(df_tmp.to_list()[0]) # fix this is really ugly!!
        print(year)
    return pd.DataFrame(country_dict)
%lprun -f create_country_df create_country_df(df_ARB)

In [ ]:
def create_country_df(df_country):
    country_dict = {indicator:[] for indicator in df_country["IndicatorCode"].unique()}
    country_dict["Year"] = list(df_country["Year"].unique())
    for year in df_country["Year"].unique():
        for indicator in df_country["IndicatorCode"].unique():
            # this will output the indicator value for a given year
            df_tmp = df_country[(df_country["IndicatorCode"] == indicator) & (df_country["Year"] == year)]["Value"] 
            # if there is no indicator value for that year, then we add NA                              
            if df_tmp.empty:
                country_dict[indicator].append("NA")
            else:
                country_dict[indicator].append(df_tmp.to_list()[0]) # fix this is really ugly!!
        print(year)
    return pd.DataFrame(country_dict)